<h4 class="text-center">Meeting Schedule</h4>
<div class="div_meeting">
    <div class="div_inputs_meet">
        <div class="row">
            <select class="col-md-6 col-lg-4 mb-5 dropdown-menu center-me" disabled>
                <option>1-10 IPs - OneClick Package</option>
            </select>
        </div>
        <div class="div_sub_in">
            <div class="row">
                <div class="col options center-me text-center"><label>Time Slot 1</label></div>
                <input class="col form-control" type="date">
                <input class="col form-control" type="time">
            </div>
            <div class="row">
                <div class="col options center-me text-center"><label>Time Slot 2</label></div>
                <input class="col form-control" type="date">
                <input class="col form-control" type="time">
            </div>
            <div class="row">
                <div class="col options center-me text-center"><label>Time Slot 3</label></div>
                <input class="col form-control" type="date">
                <input class="col form-control" type="time">
            </div>
        </div>
    </div>
    <button class="btn mt-3 btn-primary center-me">Submit</button>
</div>