<div class="div_meeting">
    <h4 class="text-center">Meeting Schedule</h4>
    <div class="div_inputs_meet">
        <div class="row">
            <div class="col options center-me text-center"><label>Option 1</label></div>
            <input class="col form-control" type="date">
            <input class="col form-control" type="time">
        </div>
        <div class="row">
            <div class="col options center-me text-center"><label>Option 2</label></div>
            <input class="col form-control" type="date">
            <input class="col form-control" type="time">
        </div>
        <div class="row">
            <div class="col options center-me text-center"><label>Option 3</label></div>
            <input class="col form-control" type="date">
            <input class="col form-control" type="time">
        </div>
    </div>
    <button class="btn btn-primary center-me">Submit</button>
</div>