<h4 class="text-center">Summary</h4>
<div class="div_summary">
    <div class="d-md-flex flex-row">
        <div class="p-2 col-md-8">
            <div class="clearfix">
                <div class="box row m-2">
                    <div class="col-11">
                        <div class="item row p-3">
                            <div class="img"></div>
                            <h5 class="ml-2">Package name</h5>
                        </div>
                    </div>
                    <div class="col-1 close_icon">
                        <nb-icon icon="close-outline"></nb-icon>
                    </div>
                </div>
                <button class="btn btn-primary mt-2 mr-2 b_add">Add</button>
            </div>
        </div>
        <div class="p-2 col-md-4">
            <div class="box  mt-2">
                <div class="m-2 row bb">
                    <div class="col">Quantity</div>
                    <div class="col text-right">1 Nos</div>
                </div>
                <div class="m-2 row">
                    <div class="col text-left">Subtotal (&#x20B9;)</div>
                    <div class="col text-right">8,000.00</div>
                </div>
                <div class="m-2 row">
                    <div class="col text-left">Service Fees (&#x20B9;)</div>
                    <div class="col text-right">345.00</div>
                </div>
                <div class="m-2 row bb">
                    <div class="col text-left">Discounts (&#x20B9;)</div>
                    <div class="col text-right">80.00</div>
                </div>
                <div class="m-2 row bb">
                    <div class="col text-left">Total (&#x20B9;)</div>
                    <div class="col text-right">8,425.00</div>
                </div>
                <div class="text-center">
                    <input type="checkbox"> I agree to <a href="">terms and conditions</a>
                </div>
                <div class="p-2">
                    <button class="btn btn-primary center-me">Submit</button>
                </div>
            </div>
        </div>
    </div>

</div>