$color-brown: #980101;
.main {
  width: 50%;
  margin: 20px auto;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}
.card-text {
  margin-top: 40px;
  font-size: 70px;
  font-weight: bold;
  color: $color-brown;
  text-align: center;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.scroll {
  max-height: 250px;
  overflow-y: auto;
}

:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}


