$color-brown: #980101;

.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}
.card-text {
  margin-top: 40px;
  font-size: 70px;
  font-weight: bold;
  color: $color-brown;
  text-align: center;
}
