<div class='row d-flex justify-content-center'>
    <div class="card mr-5" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/kitten-corporate.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-center">OneClick package</p>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="goToOneClickPackage()">Let's Go</button>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/kitten-corporate.png" alt="Card image cap">
        <div class="card-body ">
            <p class="card-text text-center">Custom package</p>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="goToCustomPackage()">Let's Go</button>
            </div>
        </div>
    </div>
</div>