<div class="div_payment">
    <h4 class="text-center">Payments</h4>
    <label class="search-label" for="search">Search:</label>
    <!-- <input nbInput id="search" class="search-input"> -->
    <input nbInput (keyup)="search($event)" class="search-input in_search">
    <table class="table table-bordered table-hover .table-striped">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Payment ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payment of paymentsDataPagi| slice:0:recordsPerPage;let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{payment.payment_id}}</td>
                <td>{{payment.amount}}</td>
                <td>{{payment.date}}</td>
                <td>{{payment.status}}</td>
            </tr>
        </tbody>
    </table>
    <div class="clearfix">
        <button *ngIf="isPrevious" (click)="previous();" type="button"
            class="btn btn-primary">Previous</button>
        <button *ngIf="isNext" (click)="next();" type="button" class="btn btn-primary btn_nxt">Next</button>
    </div>
    <div class="text-center">page {{page}} of {{totalPages}}</div>
</div>